chroma_db
__pycache__
.env
.DS_Store
.vscode
.ipynb_checkpoints
venv
*.log
.idea
*.sqlite3
*.db
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info
dist
build
*.egg
.pytest_cache
.coverage
htmlcov
.tox
.nox
.cache
.mypy_cache
.dmypy.json
.pyre_check
.pytype
